body {
  background-color: grey;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;
  padding-right: 12px;
}

.header-buttons button {
  /*gap: 1.5rep;
  */
  color: rgb(14, 68, 86);
  margin-right: 20px;
  margin: 1px;
  padding: 4px 10px;
  border-radius: 7px;
  border: 5px solid white;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.leftbar {
  display: flex;
  justify-content: flex-start;
  /* margin-top: -40px; */
  padding-right: 12px;
  border: 1.5px solid;
}

.rightbar {
  display: flex;
  justify-content: flex-start;
  /* margin-top: -40px; */
  padding-right: 12px;
  border: 1.5px solid;
}

.rectangle{
  border: 1px solid black;
  border-radius: 14px;
  margin-top: 100px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

footer{
  text-align: center;
  margin-top: 640px;
}